/* styles every color generator with size and flex box to set next to each other */
.container{
    display: flex;
    flex-direction: column;
    }
.paletts-container{
    display: flex;
    flex-direction: row;
   

}
.secondContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.secondContainer button{
    color: white;
   background-color: orange;
}
.generatedcolor{
    width:20%;
    height: 600px;  

}

span {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: monospace;
  }